@import './reset.css';
@import './variables.css';

body {
  font-family: var(--font-family);
  font-weight: var(--font-weight-regular);
  background-color: var(--color-graphite);
  color: var(--color-stone);
  letter-spacing: var(--tracking-wide);
}

#app {
  width: 100%;
  height: 100%;
  position: relative;
}

canvas {
  display: block;
}
